.side-bar
  .side-bar__user-name
    .side-bar__side-box
      %p.side-bar__side-box__user-name
        = current_user.name
      %ul.side-bar__side-box__menu
        %li.side-bar__side-box__edit-bar__box__user
          = link_to new_group_path(current_user) do
            = icon('fas', 'pen-square', class: 'icon')
        %li.side-bar__side-box__new-group
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          %p.side-bar__group-name
            = group.name
          %p.side-bar__message
            まだメッセージはありません
